/* Normalize и глобальные стили*/
@import url(normalize.css);
@import url(global.css);

/* Основные стили */

.overlay {
	/* Скрываем подложку  */
	opacity: 0;
	visibility: hidden;
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	transition: .3s all;
}

.modal__form {
	max-width: 718px;
	min-height: 433px;
	padding: 50px 70px 50px 40px;
	background-color: #F9F9F9;
	position: relative;
	animation: zoomIn 1s;
}

@keyframes zoomIn {
	from {
		opacity: 0;
	}
}

.modal {
	
	/* Скрываем окна  */
	opacity: 0;
	visibility: hidden;
	
	/*  Центрируем и задаем z-index */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30; /* Должен быть выше чем у подложки*/
 }

 .active {
	opacity: 1;
	visibility: visible;
 }


.modal__close {
	display: block;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #424242;
	position: relative;
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-50%) translateX(50%);
	transition: background-color .3s ease-in;
}

.modal__close:hover {
	background-color: #222222;;
}

.modal__close::before,
.modal__close::after {
	display: block;
	content: '';
	position: absolute;
	top: 17px;
	left: 20px;
	height: 10px;
	width: 2px;
	background-color: #fff;
}

.modal__close::before {
	transform: rotate(-45deg);
}

.modal__close::after{
	transform: rotate(45deg);
}

.modal__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 13px;
}

.modal__title span {
	color: #FA4281;
}

.modal__description {
	display: block;
	max-width: 540px;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 30px;
}

.modal__bottom-wrapper {
	width: 608px;
	display: flex;
	justify-content: space-between;
}

.modal__input {
	display: block;
	width: 453px;
	padding: 15px 0 16px 20px;
	margin-bottom: 10px;
	min-height: 60px;
	background-color: #F2F2F2;
	border-radius: 6px;
	border:none;
	outline: none;
	font-size: 16px;
	line-height: 180%;
}

.modal__input::placeholder {
	opacity: 0.4;
}

.modal__label {
	padding-left: 31px;
	font-size: 14px;
	line-height: 150%;
	position: relative;
	display: block;
	cursor: pointer;
}

.modal__checkbox {
	position: absolute;
	top: 0;
	left: 0;
}

.modal__checkbox::before {
	display: block;
	width: 21px;
	height: 21px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #FA4281;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color .3s ease-in, border-color .3s ease-in;
}

.modal__checkbox::after {
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	left: 5px;
	height: 5px;
	width: 12px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	opacity: 0;
	cursor: pointer;
	transition: opacity .3s ease-in;
}

.modal__checkbox:checked::before {
	background-color: #FA4281;
}

.modal__checkbox:checked::after {
	opacity: 1;
}

.modal__label-link {
	position: relative;
}

.modal__label-link::after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	top: 15px;
	left: 0;
}

.modal__btn {
	display: block;
	width: 150px;
	height: 60px;
	font-weight: 700;
	font-size: 16px;
	line-height: 180%;
	text-align: center;
	background-color: #FA4281;
	border-radius: 6px;
	color: #ffffff;
	border:none;
	outline: none;
	transition: background-color .3s ease-in;
}

.modal__btn:hover {
	background-color: #f71161;
}

.modal__success-subscribe {
	max-width: 718px;
	min-height: 178px;
	padding: 50px 70px 50px 40px;
	background-color: #F9F9F9;
}

@media (max-width: 768px) {
	.modal__form {
		max-width: 330px;
		min-height: 502px;
		padding: 20px;
	}

	.modal__success-subscribe {
		max-width: 330px;
		min-height: 147px;
		padding: 20px;
	}

	.modal__title {
		font-size: 20px;
		line-height: 130%;
		max-width: 262px;
	}

	.modal__description {
		max-width: 288px;
		font-size: 16px;
		line-height: 130%;
		margin-bottom: 30px;
	}

	.modal__bottom-wrapper {
		width: 288px;
		flex-direction: column;
		gap: 20px;
	}

	.modal__input {
		width: 288px;
	}

	.modal__label {
		width: 229px;
		padding-left: 31px;
		font-size: 14px;
		line-height: 120%;
	}

	.modal__label-link::after {
		opacity: .6;
	}

	.modal__btn {
		width: 280px;
		margin: 0 auto;
	}

	.modal__close {
		display: block;
		width: 30px;
		height: 30px;
	}
	
	.modal__close::before,
	.modal__close::after {
		top: 9px;
		left: 15px;
		height: 10px;
		width: 1px;
	}
}

@media (max-width: 368px) {
	.modal__close {
		top: 5px;
		right: 5px;
		transform: translateY(0) translateX(0);
	}
}